<%- include('partials/header') %>

    <main>

        <h1>
        
            <%= title %>
        
        </h1>

        <form action="/login" method="POST">

            <div class="form-group">
            
                <label for="username">Username:</label>
            
                <input type="text" id="username" name="username" required>
            
            </div>

            <div class="form-group">

                <label for="email">Email:</label>

                <input type="email" id="email" name="email" required>

            </div>

            <div class="form-group">

                <label for="password">Password:</label>

                <input type="password" id="password" name="password" required>

            </div>

            <div class="form-group show-password">

                <input type="checkbox" id="show-password">

                <label for="show-password">Show password while typing</label>

            </div>

            <button type="submit">Log In</button>

        </form>

    </main>

    <%- include('partials/footer') %>