    
    <footer class="main-footer">

        <p>&copy; <%= new Date().getFullYear() %> HavenSocial by ByteHaven Tech Solutions Ltd</p>
    
        <p>All Rights Reserved</p>

    </footer>

</body>

</html>