<!doctype html>
<html lang="en" data-theme="light">
<!--default theme to be toggled by JS-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Basic SEO -->
    <title>HavenSocial - What's happening now</title>

    <meta name="description"
        content="HavenSocial: SocialFi - Next-Gen Social Media Platform - Powered by havenbyte Token (HBT)." />

    <meta name="author" content="Osigwe Uchechukwu DavidCaleb" />

    <meta name="keywords"
        content="SocialFi, Social Media, Next-Gen, havenbyte Token, HBT, HavenSocial, Social Media Platform, ByteHaven" />

    <!-- Favicon  -->

    <link rel="android-chrome-192x192" href="images/favicon/android-chrome-192x192.png" />

    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png" />

    <link rel="android-chrome-512x512" href="images/favicon/android-chrome-512x512.png" />

    <link rel="favicon-16x16" href="images/favicon/favicon-16x16.png" />

    <link rel="favicon-32x32" href="images/favicon/favicon-32x32.png" />

    <link rel="icon" href="images/favicon/favicon.ico" />

    <!-- Open Graph / Facebook / LinkedIn -->

    <meta property="og:title" content="HavenSocial by ByteHaven Tech Solutions Ltd" />

    <meta property="og:description" content="SocialFi - Next-Gen Social Media Platform" />

    <meta property="og:type" content="webapp" />

    <meta property="og:url" content="" />

    <meta property="og:image" content="" />

    <meta property="og:image:width" content="180" />

    <meta property="og:image:height" content="180" />

    <meta property="og:image:alt" content="ByteHaven Tech Solutions Ltd Logo" />

    <meta property="og:locale" content="en_US" />

    <meta property="og:site_name" content="ByteHaven Tech Solutions Ltd" />

    <!-- Twitter / X Card -->
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:title" content="HavenSocial by ByteHaven Tech Solutions Ltd" />

    <meta name="twitter:description" content="SocialFi - Next-Gen Social Media Platform" />

    <meta name="twitter:image" content="" />

    <meta name="twitter:image:alt" content="HavenSocial circular logo" />

    <meta name="twitter:site" content="@OsigweD13822" />

    <meta name="twitter:creator" content="@OsigweD13822" />

    <link rel="stylesheet" href="/styles/main.css" />

    <link rel="stylesheet" href="/styles/large.css" />

    <script type="module" src="/scripts/app.mjs?v=<%= Date.now() %>"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap"
        rel="stylesheet" />
</head>

<body>

    <header>

        <div class="header-container">

            <h1 class="logo">

                <a href="/">HavenSocial</a>

            </h1>

            <nav id="nav-list" class="nav-bar">

                <ul>

                    <li><a href="/login">Log in</a></li>
                    
                    <li><a href="/register">Join Now</a></li>
                    
                    <li><a href="/feed">feed</a></li>

                </ul>

            </nav>

            <button id="nav-btn" class="hamburger"></button>

            <div>

                <button id="dark-mode-toggle">🌙</button>

            </div>

        </div>

        <% const messages=flash(); %>
        
        <% Object.keys(messages).forEach(type=> { %>
        
            <% if (messages[type].length> 0) { %>
        
                <% messages[type].forEach(msg=> { %>
        
                    <%= msg %>
        
                <% }); %>
        
            <% } %>
        
        <% }); %>

    </header>